.container{
    background-color: #d7e1e7;
    border-radius: 1rem;
    display: flex;
    gap: 4rem;
    height: 30rem;
    margin: 2rem auto;
    padding: 4rem;
    width: 50rem;

}

.poster {
border: 8px solid black;
box-shadow: 0 24px 32px -16px rgb(0, 0, 0,0.4);
}    

.container h2{
    font-size: 40px;
}

.container p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 16px;
}

.container button{
    background-color: #121212;
    border: 0;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgb(0, 0 ,0, 0.2 );
    color: white;
    font-size: 16px;
    margin-top: 36px;
    padding: 15px;
    transition: .3s;
    cursor: pointer;
}

.container button:hover{
    margin-left: 20px;
}